
@{
    ViewBag.Title = "Trang Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/View1.cshtml";
}


<section class="container section-5">
    <h2 style="color:red" class="subscribe-input-label">@Model.TenSanPham </h2>

</section>


<div style="float:left;height:400px;width:100%;">

    <div style="float:left;height:400px;width:30%;">


        <br />
        <div>
            <a>
                <img style="height:200px;margin-left:50px;width:200px;border-radius:10px" src="@Model.HinhAnh" alt="" border="0">
            </a>

        </div>
        <br />
        <div class="prod_price_big" style="text-align:center">

            <del>@string.Format("{0:#,0}", Model.GiaBanCu)<u>đ</u></del>
            <span style="color:red;font-size:20px">@string.Format("{0:#,0}", Model.GiaBanMoi) <u>đ</u></span>

        </div>

    </div>
    <div style="float:left;height:400px;width:70%;">

        <br />
        <br />
        <div class="specifications">
            HÃNG SẢN XUẤT  : <span class="blue" style="color: crimson; font-size: 20px">@Model.HangSanXuat.TenHang</span><br><br />
            THÔNG TIN SẢN PHẨM : <span class="blue" style="color: crimson; font-size: 20px">@Model.TomTat</span><br><br />


            <span class="blue" style="color: crimson; font-size: 20px"> @Model.BaiViet </span><br><br />
            <br />
            <a href="/GioHang/AddtoCart/@Model.ID" class="custom-btn btn-14">Đặt hàng </a>

        </div>



    </div>
    <br />
    <br />
    <br />
    <br />
    <section class="container section-5">
        <h2 style="color:red" class="subscribe-input-label">DANH SÁCH SẢN PHẨM </h2>

    </section>

</div>

<br />


@Html.Action("XemThemSanPham", "SanPham")
